body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: black;
  line-height: normal;
}

#cabecalho {
  top: 0;
  position: fixed;
}

aside {
  width: 30%;
  float: right;
}

.lado-esquerdo {
  width: 30%;
  float: left;
}

table, th, td {
  border:1px solid black;
}  
